@model MealPermissionListViewModel
@{
    @* ViewData["Title"] = "식수 권한 관리 "; *@
    MealPermissionGridData current = Model.CurrentRoute;
    GridData routes = Model.CurrentRoute.Clone();
    MealPermissionGridData searchRoute = Model.SearchRoute;
}
<script>
    function chk01 (cellvalue, options, rowObject) {
        return "<input type='checkbox' checked>";

    };
    function statusFunc (cellvalue, options, rowObject) {
        if(cellvalue == "1"){
            return "<a href='javascript:void(0)' class='link-co'>회수하기</a>";
        }else if(cellvalue == "2"){
            return "<span class='cg'>회수완료</span>";
        }
    };

    function downloadExcel(){
        var myform = document.fmDlExcel;
        if (myform.action.includes("culture") == false)
            myform.action = myform.action + "?culture=@CultureInfo.CurrentCulture";
        myform.submit();
    }

    function savePermissions(){

    }

    function search() {
        var myform = document.fmSearch;
        var field1 = myform.searchLocation.options[myform.searchLocation.selectedIndex].value;
        var keyword1 = myform.searchCompanyName.value.trim().replace("/","");
        var keyword2 = myform.searchOrgNameKor.value.trim().replace("/","");
        var keyword3 = myform.searchName.value.trim().replace("/","");
        var url = myform.action + field1; 
        @* console.log("[search] field", field1); *@
        console.log("[search] url", url);
        if (keyword1 != null && keyword1.length > 0) {
            url += "/"+keyword1;
        }else {
            url +="/+"
        }
        if (keyword2 != null && keyword2.length > 0) {
            url += "/"+keyword2;
        }else {
            url +="/+"
        }
        if (keyword3 != null && keyword3.length > 0) {
            url += "/"+keyword3;
        }else {
            url +="/+"
        }
        url += "/?culture=@CultureInfo.CurrentCulture.ToString()";
        console.log("[search] url", url);
        window.location = url;
    }
</script>

<section class="page-search-wrap">
    <div class="mob-toggle-wrap">
        <a href="javascript:void(0)">
            <span>@Localizer["Filter"]</span>
            <img src="/images/ico/ico-arr-up01.svg" alt="필터" />
        </a>
    </div>
    <div class="search-group-wrap">
        <div class="search-form-wrap">
            <ul>
<form method="get" name="fmSearch" asp-route-pagenumber="1" 
    asp-route-pagesize="@current.PageSize" asp-route-sortfield="@current.SortField" asp-route-sortdirection="@current.SortDirection" 
    asp-route-searchlocation="" asp-route-searchcompanyname="" asp-route-searchorgnamekor="" asp-route-searchname="">
                <li>
                    <div class="label ">@Localizer["Place Of Business"]</div>
                    <div class="form-item-wrap">
                        @{
                            if(CultureInfo.CurrentCulture.ToString().Equals("en")){
                                <select class="select full" name="searchLocation" asp-items='@(new SelectList(Model.CodeLocation, nameof(CommonCode.SubCodeDesc), nameof(CommonCode.CodeNameEng), @searchRoute.SearchLocation))'>
                                    <option value="-1">@Localizer["Entire"]</option>
                                </select>
                            }else{
                                <select class="select full" name="searchLocation" asp-items='@(new SelectList(Model.CodeLocation, nameof(CommonCode.SubCodeDesc), nameof(CommonCode.CodeNameKor), @searchRoute.SearchLocation))'>
                                    <option value="-1">@Localizer["Entire"]</option>
                                </select>
                            }
                        }
                    </div>
                </li>
                <li>
                    <div class="label t01">@Localizer["Company Name"]</div>
                    <div class="form-item-wrap">
                        <input type="text" class="inp full" placeholder='@Localizer["Company Name"]' name="searchCompanyName" value="@searchRoute.SearchCompanyName" />
                    </div>
                </li>
                <li>
                    <div class="label t01">@Localizer["Department Name"]</div>
                    <div class="form-item-wrap">
                        <input type="text" class="inp full" placeholder='@Localizer["Department Name"]' name="searchOrgNameKor" value="@searchRoute.SearchOrgNameKor" />
                    </div>
                </li>
                <li>
                    <div class="label t01">@Localizer["Name"]</div>
                    <div class="form-item-wrap">
                        <input type="text" class="inp full" placeholder='@Localizer["Name"]' name="searchName" value="@searchRoute.SearchName" />
                    </div>
                </li>
</form>
            </ul>
        </div>
        <div class="search-btn-wrap">
            <button type="button" onclick="search()">@Localizer["Search"]</button>
        </div>
    </div>
</section>

<section class="grid-item-wrap">
    <div class="list-func-wrap">
        <div class="list-info-wrap">
            <div class="viewrecords">@String.Format(Localizer["A total of {0} was viewed"].Value, Model.TotalCnt)</div>
        </div>
        <div class="side-btn-wrap">
            <form name="fmDlExcel" method="post" asp-action="PermissionExcelDownload" asp-all-route-data="@current.ToDictionary()" target="ifTemp">
                <input type="hidden" name="ExTitle" value='@ViewData["Title"]' />
                <button type="button" class="btn-green" onClick="downloadExcel();">@Localizer["Download Excel"]</button>
            </form>
            @* <button type="button" class="btn-green" onClick="downloadExcel();">@Localizer["Download Excel"]</button> *@
            @* <button type="button" class="btn-green" onClick="savePermissions();">@Localizer["Modify Meal Permissions"]</button> *@
        </div>

    </div>
    <div class="tbl-item-wrap">
        <table class="tbl01" aria-label="식수권한관리 목록">
            <tr>
                <th>@Localizer["Place Of Business"]</th>
                <th>@Localizer["Company Name"]</th>
                <th>@Localizer["Department Name"]</th>
                <th>@Localizer["Name"]</th>
                <th>@Localizer["Sabun"]</th>
                <th>@Localizer["Position"]</th>
                <th>@Localizer["Breakfast"]</th>
                <th>@Localizer["Lunch"]</th>
                <th>@Localizer["Dinner"]</th>
                <th>@Localizer["LatenightMeal"]</th>
                <th></th>
            </tr>
@{
    var location = "";
    foreach(MealAccessDTO mealAccessDTO in Model.MealAccessDTOs){ 
        location = "";
        if (mealAccessDTO.Location != null && Model.CodeLocation != null) {
            foreach(var m in Model.CodeLocation) {
                if (m.SubCodeDesc != null && m.SubCodeDesc.Equals(mealAccessDTO.Location)) {
                    if (CultureInfo.CurrentCulture.ToString().Equals("ko")) {
                        location = m.CodeNameKor;
                    }else {
                        location = m.CodeNameEng;
                    }
                }
            }
        }
<form method="POST">
    <input type="hidden" name="mode" value="EMealPermission" />
    <input type="hidden" name="MealAccessID" value ="@mealAccessDTO.MealAccessID" />
    <input type="hidden" name="Sabun" value ="@mealAccessDTO.Sabun" />
    <input type="hidden" name="InsertDate" value='@mealAccessDTO.InsertDate.ToString("yyyy-MM-dd HH:mm:ss")' />
            <tr>
                <td>@location</td>
                <td>@mealAccessDTO.CompanyName</td>
                <td>@mealAccessDTO.OrgNameKor</td>
                <td>@mealAccessDTO.Name</td>
                <td>@mealAccessDTO.Sabun</td>
                <td>@mealAccessDTO.GradeName</td>
                <td><input type='checkbox' name="MealGB1" value="1" @(mealAccessDTO.MealGB1 == 1 ? "checked" : "")></td>
                <td><input type='checkbox' name="MealGB2" value="1" @(mealAccessDTO.MealGB2 == 1 ? "checked" : "")></td>
                <td><input type='checkbox' name="MealGB3" value="1" @(mealAccessDTO.MealGB3 == 1 ? "checked" : "")></td>
                <td><input type='checkbox' name="MealGB4" value="1" @(mealAccessDTO.MealGB4 == 1 ? "checked" : "")></td>
                <td><button type="button" class="btn-gray" onClick="this.form.submit();">@Localizer["Modify"]</button></td>
            </tr>
</form>
    }
}
        </table>
    </div>
    <div class="paging-item-wrap"> 
        @{
            routes = current.Clone();
            routes.PageNumber = 1;
            if (current.PageNumber <= 1){
                <a href="javascript:void(0);"><img src="/images/ico/ico-paging-first.svg" alt='@Localizer["Go to first page"]' /></a>
            }else{
                <a asp-action="PermissionList" asp-all-route-data="@routes.ToDictionary()"><img src="/images/ico/ico-paging-first.svg" alt='@Localizer["Go to first page"]' /></a>
            }
        }
        @{
            if ((current.PageNumber>1)) {
                routes.PageNumber = current.PageNumber -1;
                <a asp-action="PermissionList" asp-all-route-data="@routes.ToDictionary()"><img src="/images/ico/ico-paging-prev.svg" alt='@Localizer["Go to previous page"]' /></a>
            }else{
                <a href="javascript:void(0);"><img src="/images/ico/ico-paging-prev.svg" alt='@Localizer["Go to previous page"]' /></a>
            }            
        }
        <div class="value">
            <input type="text" class="inp" value="@current.PageNumber" />
            <span>/ @Model.TotalPages</span>
        </div>
        @{
            if (current.PageNumber<Model.TotalPages){
                routes.PageNumber = current.PageNumber +1;
                <a asp-action="PermissionList" asp-all-route-data="@routes.ToDictionary()"><img src="/images/ico/ico-paging-next.svg" alt='@Localizer["Go to next page"]' /></a>
            } else {
                <a href="javascript:void(0);"><img src="/images/ico/ico-paging-next.svg" alt='@Localizer["Go to next page"]' /></a>
            }
        }
        @{
            if (current.PageNumber == Model.TotalPages){
            <a href="javascript:void(0);"><img src="/images/ico/ico-paging-last.svg" alt='@Localizer["Go to last page"]'/></a>
            } else {
                routes.PageNumber = Model.TotalPages;
                <a asp-action="PermissionList" asp-all-route-data="@routes.ToDictionary()"><img src="/images/ico/ico-paging-last.svg" alt='@Localizer["Go to last page"]' /></a>
            }
        }
    </div>
</section>
<iframe name="ifTemp" title="temp" border="0" style="display:none;"></iframe>