@model WorkApplyDetailViewModel
@{
    ViewData["Title"] = @Localizer["Detail Work"]; //"공사정보";
}
@* <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/amcharts/3.21.15/plugins/export/libs/FileSaver.js/FileSaver.min.js"></script> *@
<script>
    window.onload = function (){
        PREV_URL = document.getElementById('aList').href + '?culture=@CultureInfo.CurrentCulture';
    }
    function linkFunc (cellvalue, options, rowObject) {
        var temp = '<div class="file-group-wrap"><a href="javascript:void(0)" class="link-co">'+cellvalue+'</a>';
        temp += "";
        return temp;

    };
    function buttonFunc (cellvalue, options, rowObject) {
        return "<button  class='btn-gray'>첨부</button>";

    };
    function statusFunc (cellvalue, options, rowObject) {
        if(cellvalue == "1"){
            return "<a href='javascript:void(0)' class='link-co'>회수하기</a>";
        }else if(cellvalue == "2"){
            return "<span class='cg'>회수완료</span>";
        }

    };

    function goList(){
        window.location = '/work/list/?culture=@CultureInfo.CurrentCulture'
    }
    function goWorkApplyVist(){
        window.location = '/work/visitreg/?culture=@CultureInfo.CurrentCulture'
    }
    // edit - 담당자가 공사등록에 대하여 승인상태 변경 (공사 승인/반려 처리)
    function saveEditForm(){
        var myform = document.fmEditWorkApply;
        var con = confirm('@Localizer["Would you like to save"]');
        if(con){
            myform.WorkApplyStatus.disabled = false;
            myform.WorkApplyStatus.removeAttribute("disabled");
            myform.submit();
        }
    }
    @* idx: 계약서일 경우 0 or -1, 첨부파일일 경우 첨부파일 pk *@
    function dl(idx) {
        var myform = document.fmDL;
        myform.WorkApplyAttachFileID.value = idx;
        myform.submit();
        @* window.open('/notice/download/@Model.NoticeID/'+idx, '_blank'); *@
    }
</script>

<div class="tit-header-wrap">
    <div class="rtit">@Localizer["Work Information"]</div>
</div>

<form name="fmEditWorkApply" method="post">
    <input type="hidden" name="mode" value="E" />
    <input type="hidden" name="workApplyID" value='@Model.WorkApply.WorkApplyID' />
    
    <div class="reg-form-wrap">
        <ul>
            <li>
                <div class="label s03">@Localizer["Place Of Business"]</div>
                <div class="form-item-wrap">
                    @{
                        if(CultureInfo.CurrentCulture.ToString().Equals("en")){
                            <select class="select" name="Location" asp-items='@(new SelectList(Model.CodeLocation, nameof(CommonCode.SubCodeDesc), nameof(CommonCode.CodeNameEng), Model.WorkApply.Location))' disabled></select>
                        }else{
                            <select class="select" name="Location" asp-items='@(new SelectList(Model.CodeLocation, nameof(CommonCode.SubCodeDesc), nameof(CommonCode.CodeNameKor), Model.WorkApply.Location))' disabled></select>
                        }
                    }
                </div>
            </li>
            <li>
                <div class="label s03">@Localizer["Work No"]</div>
                <div class="form-item-wrap">
                    <input type="text" class="inp" placeholder='@Localizer["Work No"]' value='@Model.WorkApply.WorkApplyNo' readonly />
                </div>
            </li>
            <li>
                <div class="label s03">@Localizer["Contact Name"]</div>
                <div class="form-item-wrap">
                    <input type="text" class="inp" placeholder='@Localizer["Contact Name"]' name="ContactName" value='@Model.WorkApply.ContactName' readonly  />
                    @* <button type="button" class="btn-search" onclick="popSelectPerson();"><img src="/images/ico/ico-search.svg" alt="" /></button> onclick="popSelectPerson();" *@
                </div>
            </li>
            <li>
                <div class="label s03">@Localizer["Contact Department"]</div>
                <div class="form-item-wrap">
                    <input type="text" class="inp" placeholder='@Localizer["Contact Department"]' value='@(CultureInfo.CurrentCulture.ToString().Equals("ko") ? Model.WorkApply.ContactOrgNameKor : Model.WorkApply.ContactOrgNameEng)' readonly />
                    @* <button type="button" class="btn-search" onclick="popSelectPerson();"><img src="/images/ico/ico-search.svg" alt="" /></button>  onclick="popSelectPerson();"*@
                    @* <button type="button" class="btn-gray">@Localizer["Search"]</button> *@
                </div>
            </li>
            <li class="full">
                <div class="label s03">@Localizer["Work Name"]</div>
                <div class="form-item-wrap">
                    <input type="text" class="inp" placeholder='@Localizer["Work Name"]' name="WorkName" value='@Model.WorkApply.WorkName' readonly />
                </div>
            </li>
            <li class="empty02">&nbsp;</li>
            <li class="full">
                <div class="label s03">@Localizer["Work Description"]</div>
                <div class="form-item-wrap">
                    <input type="text" class="inp" placeholder='@Localizer["Work Description"]' name="WorkMemo" value='@Model.WorkApply.WorkMemo' readonly />
                </div>
            </li>
            <li class="empty02">&nbsp;</li>
            <li>
                <div class="label s03">@Localizer["Work Period"]</div>
                <div class="form-item-wrap">
                    <div class="form-item-wrap">                    
                        <input type="text" class="inpdate" placeholder="YYYY-MM-DD" name="WorkStartDate" value='@Model.WorkApply.WorkStartDate' disabled />
                        <span class="e01">~</span>
                        <input type="text" class="inpdate" placeholder="YYYY-MM-DD" name="WorkEndDate" value='@Model.WorkApply.WorkEndDate' disabled />
                    </div>
                </div>
            </li>
            <li>
                <div class="label s03">@Localizer["Work Contract"]</div>
                <div class="form-item-wrap">
                    <input type="file" class="hidden" accept=".pdf" name="WorkContractFile" />
                    <div class="value"><a href="javascript:void(0)" onclick="dl(0)" class="link-co">
                        @{
                            if(Model.WorkApply.WorkContractFileData != null){
                                FileDTO? ff = Utils._Dump<FileDTO>(Model.WorkApply.WorkContractFileData);
                                <text>@ff?.FileName</text>
                            }
                        }
                        </a></div>
                    @* <button type="button" class="btn-func btn-upload">@Localizer["Attach"]</button> *@
                </div>
            </li>
        </ul>
    </div>

    <div class="tit-header-wrap">
        <div class="rtit">@Localizer["Attachment Information"]</div>
    </div>
    <div class="reg-form-wrap">
        <ul>
            <li class="full">
                <div class="form-item-wrap">
                    <button type="button" class="btn-gray" onclick="dl(-1)">@Localizer["Download All"]</button>
                </div>
            </li>
            <li class="full">
                <div class="form-item-wrap">
                    <table aria-label="첨부파일 목록">
                        <tr>
                            <th style="width:80px;">NO</th>
                            <th style="width:200px;">@Localizer["Category"]</th>
                            <th>@Localizer["File Name"]</th>
                            <th>@Localizer["Download"]</th>
                        </tr>
@{
    int num=0;
    foreach(var m in Model.WorkApplyAttachFiles){ 
        num ++ ;
                        <tr>
                            <td>@num</td>
                            <td>@m.Title</td>
                            <td>
                                <a href="javascript:void(0)" class="link-co" onclick="dl(@m.WorkApplyAttachFileID)">
                        @{
                            if(m.AttachFileData != null){
                                FileDTO? ff = Utils._Dump<FileDTO>(m.AttachFileData);
                                <text>@ff?.FileName</text>
                            }
                        }
                                </a>
                            @* <a href='javascript:void(0)'><img src='/images/ico/ico-remove02.svg' alt="" /></a> *@
                            </td>
                            <td>
                                @* <input type="file" class="hidden" accept=".pdf" name="1" /> *@
                                <button type="button" class="btn-func btn-upload" onclick="dl(@m.WorkApplyAttachFileID)">@Localizer["Download"]</button>
                                @* <div class="value"></div> *@
                            </td>
                        </tr>
    }
}                       
                    </table>
                </div>
            </li>
        </ul>
    </div>
    <div class="tit-header-wrap">
        <div class="rtit">@Localizer["Approval Information"]</div>
    </div>
    <div class="reg-form-wrap">
        <ul>
            <li>
                <div class="label s03">@Localizer["Approval Status"]</div>
                <div class="form-item-wrap">
                    @{
                        if(ViewBag.IsApproval && (Model.WorkApply.WorkApplyStatus == 0)){
                            if(CultureInfo.CurrentCulture.ToString().Equals("en")){
                                <select class="select full" name="WorkApplyStatus" asp-items='@(new SelectList(Model.CodeWorkApplyStatus, nameof(CommonCode.SubCodeID), nameof(CommonCode.CodeNameEng), Model.WorkApply.WorkApplyStatus))'></select>
                            }else{
                                <select class="select full" name="WorkApplyStatus" asp-items='@(new SelectList(Model.CodeWorkApplyStatus, nameof(CommonCode.SubCodeID), nameof(CommonCode.CodeNameKor), Model.WorkApply.WorkApplyStatus))'></select>
                            }
                        } else{
                            if(CultureInfo.CurrentCulture.ToString().Equals("en")){
                                <select class="select full" name="WorkApplyStatus" asp-items='@(new SelectList(Model.CodeWorkApplyStatus, nameof(CommonCode.SubCodeID), nameof(CommonCode.CodeNameEng), Model.WorkApply.WorkApplyStatus))' disabled></select>
                            }else{
                                <select class="select full" name="WorkApplyStatus" asp-items='@(new SelectList(Model.CodeWorkApplyStatus, nameof(CommonCode.SubCodeID), nameof(CommonCode.CodeNameKor), Model.WorkApply.WorkApplyStatus))' disabled></select>
                            }
                        }
                    }
                </div>
            </li>
        </ul>
    </div>
</form>
<div class="msg-wrap">
    <div class="label org">
        @* @Localizer["This is a required field"] &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; *@
        <span id="errormsg" class="label org red">@ViewBag.ErrorMsg</span>
    </div>
</div>
<div class="req-btn-wrap">
    @* 2023.09.21 신인아 버튼정리 start~end
    <div class="lt-item">
    </div>*@
    <div class="lt-item">
        @{
            if (ViewBag.IsApproval && (Model.WorkApply.WorkApplyStatus == 0))
            {
        <button type="button" class="btn-green" onclick="saveEditForm()">@Localizer["Save"]</button>
            }
        }
        @* 공사신청현황 신청 바로가기 *@
        @* <button type="button" class="btn-gray" onClick="goWorkApplyVist();" style='display:@(Model.WorkApply.WorkApplyStatus == 1 ? "flex" : "none")'>@Localizer["Register Work"]</button> *@
        <button type="button" class="btn-gray" onClick="goList();">@Localizer["List"]</button>
    </div>
</div>

<partial name="~/Views/_Popup/PopSelectPerson.cshtml" />
<form name="fmDL" method="post" asp-action="Download" target="ifTemp">
    <input type="hidden" name="WorkApplyID" value="@Model.WorkApply.WorkApplyID" />
    <input type="hidden" name="WorkApplyAttachFileID" value="-1" />
    <input type="hidden" name="WorkName" value="@Model.WorkApply.WorkName" />
   
</form>

<iframe name="ifTemp" title="temp" border="0" style="display:none;"></iframe>
@* for Prev Link *@
<a asp-action="List" asp-all-route-data="@ViewBag.prevDic" id="aList" style="visibility:invisible;"></a>
