@model TempCardIssueApplyDetailViewModel
@{
    ViewData["Title"] = @Localizer["Detail Temporary Access Card"]; //"임시증 발급 상세정보";
}

<script>
    $(function(){
        $("body").on("click", "#btn-add", function(){
            var _temp = $("#temp").html();
            $("#add-form-wrap").append(_temp);
            $("#add-form-wrap .num").each(function(i){
                $(this).text("0"+(i+1));
            });
        });
        $("body").on("click", ".reg-header-wrap a", function(){
            $(this).parents(".reg-form-wrap").eq(0).remove();
            $("#add-form-wrap .num").each(function(i){
                $(this).text("0"+(i+1));
            });
        });
    });
    // edit - 보안실 회수 처리 
    function changeTempCardIssueStatus(){
        const myform = document.fmEditTempCardIssueApply;
        var con = confirm('@Localizer["Do you want to modify the temporary certificate issuance status"]');
        if(con){
            myform.submit();
        }
    }
</script>

<div class="tit-header-wrap">
    <div class="rtit">@Localizer["Person Information"]</div>
</div>
<div class="reg-form-wrap">
    <ul>
        <li>
            <div class="label s03">@Localizer["Place Of Business"]</div>
            <div class="form-item-wrap">
                @{
                    if(CultureInfo.CurrentCulture.ToString().Equals("en")){
                        <select class="select" name="Location" asp-items='@(new SelectList(Model.CodeLocation, nameof(CommonCode.SubCodeDesc), nameof(CommonCode.CodeNameEng), Model.TempCardIssueApply.Location))' disabled></select>
                    }else{
                        <select class="select" name="Location" asp-items='@(new SelectList(Model.CodeLocation, nameof(CommonCode.SubCodeDesc), nameof(CommonCode.CodeNameKor), Model.TempCardIssueApply.Location))' disabled></select>
                    }
                }
            </div>
        </li>
        <li>
            <div class="label s03">@Localizer["Name"]</div>
            <div class="form-item-wrap">
                <input type="text" class="inp" name="Name" value='@Model.TempCardIssueApply.Name' readonly />
            </div>
        </li>
        <li>
            <div class="label s03">@Localizer["Department Name"]</div>
            <div class="form-item-wrap">
                <input type="text" class="inp" name="OrgNameKor" value='@Model.TempCardIssueApply.OrgNameKor' readonly />
            </div>
        </li>
        <li>
            <div class="label s03">@Localizer["Position"]</div>
            <div class="form-item-wrap">
                <input type="text" class="inp" name="GradeName" value='@Model.TempCardIssueApply.GradeName' readonly />
            </div>
        </li>
    </ul>
</div>

<div class="tit-header-wrap">
    <div class="rtit">
        @* 승인정보 *@
    </div>
</div>

<form name="fmEditTempCardIssueApply" method="post">
    <input type="hidden" name="mode" value="ETempCardIssueStatus" />
    <input type="hidden" name="tempCardIssueApplyID" value='@Model.TempCardIssueApply.TempCardIssueApplyID' />
    <div class="reg-form-wrap">
        <ul>
            <li>
                <div class="label s03">@Localizer["Issue Status"]</div>
                <div class="form-item-wrap">
                    @{
                        if(CultureInfo.CurrentCulture.ToString().Equals("en")){
                            if(Model.TempCardIssueApply.TempCardIssueStatus == 0){
                                <select class="select" name="TempCardIssueStatus" asp-items='@(new SelectList(Model.CodeTempCardIssueStatus, nameof(CommonCode.SubCodeID), nameof(CommonCode.CodeNameEng), Model.TempCardIssueApply.TempCardIssueStatus))'></select>
                            }else{
                                <select class="select" name="TempCardIssueStatus" asp-items='@(new SelectList(Model.CodeTempCardIssueStatus, nameof(CommonCode.SubCodeID), nameof(CommonCode.CodeNameEng), Model.TempCardIssueApply.TempCardIssueStatus))' disabled></select>
                            }                            
                        }else{
                            if(Model.TempCardIssueApply.TempCardIssueStatus == 0){
                                <select class="select" name="TempCardIssueStatus" asp-items='@(new SelectList(Model.CodeTempCardIssueStatus, nameof(CommonCode.SubCodeID), nameof(CommonCode.CodeNameKor), Model.TempCardIssueApply.TempCardIssueStatus))'></select>
                            }else{
                                <select class="select" name="TempCardIssueStatus" asp-items='@(new SelectList(Model.CodeTempCardIssueStatus, nameof(CommonCode.SubCodeID), nameof(CommonCode.CodeNameKor), Model.TempCardIssueApply.TempCardIssueStatus))' disabled></select>
                            }
                        }
                    }
                </div>
            </li>
            <li>
                <div class="label s03">@Localizer["Access CardNo"]</div>
                <div class="form-item-wrap">
                    <input type="text" class="inp" name="CardNo" value='@Model.TempCardIssueApply.CardNo' readonly />
                </div>
            </li>
        </ul>
    </div>
</form>
<div class="msg-wrap">
    <div class="label org">
        <span id="errormsg" class="label org red">@ViewBag.ErrorMsg</span>
    </div>
</div>
<div class="req-btn-wrap">
    <div class="lt-item">
    </div>
    <div class="lt-item">
        <button type="button" class="btn-green" onclick="changeTempCardIssueStatus();" style='display:@(Model.TempCardIssueApply.TempCardIssueStatus == 0 ? "flex" : "none")'>@Localizer["Save"]</button>
    </div>
</div>