@model TempCardIssueApplyListViewModel
@{
    @* ViewData["Title"] = "임시증 관리"; *@
    TempCardIssueApplyGridData current = Model.CurrentRoute;
    GridData routes = Model.CurrentRoute.Clone();
    TempCardIssueApplyGridData searchRoute = Model.SearchRoute;
}
<script>
    function linkFunc (cellvalue, options, rowObject) {
        return "<a href='javascript:void(0)' class='link-co'>"+cellvalue+"</a>";

    };
    function statusFunc (cellvalue, options, rowObject) {
        if(cellvalue == "1"){
            return "<a href='javascript:void(0)' class='link-co'>회수하기</a>";
        }else if(cellvalue == "2"){
            return "<span class='cg'>회수완료</span>";
        }

    };

    function downloadExcel(){
        var myform = document.fmDlExcel;
        if (myform.action.includes("culture") == false)
            myform.action = myform.action + "?culture=@CultureInfo.CurrentCulture";
        myform.submit();
    }
    function goReg(){
        @* window.location = '/card/tempreg/?culture=@CultureInfo.CurrentCulture' *@
    }
    @* function goDetail(){
        window.location = '/card/tempdetail/?culture=@CultureInfo.CurrentCulture'
    } *@
    
    var clickID = -1;
    function goDetail(dbclickID){
        if (dbclickID != undefined) {
            clickID = dbclickID;
        }
        if (clickID == -1) {
            alert('@Localizer["Please select a list to view details"]');
            return;
        }
        var uri = document.getElementById('aDetail').href + '?culture=@CultureInfo.CurrentCulture&tempCardIssueApplyID='+clickID;
        console.log("[goDetail]"+uri);        
        window.location = uri;
    }

    var selectedRowObj;
    function selectRow(row, idx){
        if(selectedRowObj != undefined){
            selectedRowObj.classList.remove('on');
        }
        selectedRowObj=row;
        row.classList.add('on');
        clickID = idx;
    }

    // edit - 보안실 회수 처리 
    function changeTempCardIssueStatus(tempCardIssueApplyID){
        var myform = document.fmListTempCard;
        var con = confirm('@Localizer["Would you like to retrieve the temporary certificate"]');
        if(con){
            if(tempCardIssueApplyID){
                myform.TempCardIssueApplyID.value = tempCardIssueApplyID;
                myform.TempCardIssueStatus.value = 1; // 회수 
                myform.submit(); 
            }
        }
    }
    
    function search() {
        var myform = document.fmSearch;
        @* var field1 = myform.searchVisitApplyType.options[myform.searchVisitApplyType.selectedIndex].value; *@
        var keyword1 = myform.searchStartInsertDate.value.trim().replace("/","");
        var keyword2 = myform.searchEndInsertDate.value.trim().replace("/","");
        var keyword3 = myform.searchCardNo.value.trim().replace("/","");
        var keyword4 = myform.searchName.value.trim().replace("/","");
        var keyword5 = myform.searchSabun.value.trim().replace("/","");
        var url = myform.action ; //+ field1 + "/" + field2 + "/" + field3; 
        @* console.log("[search] field", field1); *@
        console.log("[search] url", url);
        if (keyword1 != null && keyword1.length > 0) {
            url += keyword1;
        }else {
            url +="+"
        }
        if (keyword2 != null && keyword2.length > 0) {
            url += "/"+keyword2;
        }else {
            url +="/+"
        }
        if (keyword3 != null && keyword3.length > 0) {
            url += "/"+keyword3;
        }else {
            url +="/+"
        }
        if (keyword4 != null && keyword4.length > 0) {
            url += "/"+keyword4;
        }else {
            url +="/+"
        }
        if (keyword5 != null && keyword5.length > 0) {
            url += "/"+keyword5;
        }else {
            url +="/+"
        }
        url += "/?culture=@CultureInfo.CurrentCulture.ToString()";
        console.log("[search] url", url);
        window.location = url;
    }
</script>


<section class="page-search-wrap">
    <div class="mob-toggle-wrap">
        <a href="javascript:void(0)">
            <span>@Localizer["Filter"]</span>
            <img src="/images/ico/ico-arr-up01.svg" alt="열기" />
        </a>
    </div>
    <div class="search-group-wrap">
        <div class="search-form-wrap">
            <ul>
<form method="get" name="fmSearch" asp-route-pagenumber="1" 
    asp-route-pagesize="@current.PageSize" asp-route-sortfield="@current.SortField" asp-route-sortdirection="@current.SortDirection" 
    asp-route-searchstartinsertdate="" asp-route-searchendinsertdate="" asp-route-searchcardno="" asp-route-searchname="" asp-route-searchsabun="">
                <li>
                    <div class="label ">@Localizer["Access CardNo"]</div>
                    <div class="form-item-wrap">
                        <input type="text" class="inp full" placeholder='@Localizer["Access CardNo"]' name="searchCardNo" value="@searchRoute.SearchCardNo" maxlength="3" />
                    </div>
                </li>
                <li>
                    <div class="label t01">@Localizer["Name"]</div>
                    <div class="form-item-wrap">
                        <input type="text" class="inp full" placeholder='@Localizer["Name"]' name="searchName" value="@searchRoute.SearchName" />
                    </div>
                </li>
                <li>
                    <div class="label t01">@Localizer["Sabun"]</div>
                    <div class="form-item-wrap">
                        <input type="text" class="inp full" placeholder='@Localizer["Sabun"]' name="searchSabun" value="@searchRoute.SearchSabun" />
                    </div>
                </li>
                <li class="per02">
                    <div class="label ">@Localizer["View Period"]</div>
                    <div class="form-item-wrap">
                        <div class="form-item-wrap">
                            <input type="text" name="searchStartInsertDate" placeholder="YYYY-MM-DD" class="inpdate" value="@searchRoute.SearchStartInsertDate" onkeyup="generateDateString(this)" maxlength="10" />
                            <span class="e01">~</span>
                            <input type="text" name="searchEndInsertDate" placeholder="YYYY-MM-DD" class="inpdate" value="@searchRoute.SearchEndInsertDate" onkeyup="generateDateString(this)" maxlength="10" />
                        </div>
                    </div>
                </li>
</form>
            </ul>
        </div>
        <div class="search-btn-wrap">
            <button type="button" onclick="search()">@Localizer["Search"]</button>
        </div>
    </div>
</section>

<section class="grid-item-wrap">
    <div class="list-func-wrap">
        <div class="list-info-wrap">
            <div class="viewrecords">@String.Format(Localizer["A total of {0} was viewed"].Value, Model.TotalCnt)</div>
        </div>
        <div class="side-btn-wrap">
            <form name="fmDlExcel" method="post" asp-action="TempExcelDownload" asp-all-route-data="@current.ToDictionary()" target="ifTemp">
                <input type="hidden" name="ExTitle" value='@ViewData["Title"]' />
                <button type="button" class="btn-green" onClick="downloadExcel();">@Localizer["Download Excel"]</button>
            </form>
            @* <button type="button" class="btn-green" onClick="downloadExcel();">@Localizer["Download Excel"]</button> *@
            <a asp-action="TempReg" asp-all-route-data="@routes.ToDictionary()" >
                <button type="button" class="btn-green">@Localizer["Issue Temporary Access Card"]</button>
            </a>
            @* <button type="button" class="btn-green" onClick="goReg();">@Localizer["Issue Temporary Access Card"]</button> *@
            <a asp-action="TempDetail" asp-all-route-data="@routes.ToDictionary()" id="aDetail" style="visibility:invisible;"></a>
            <button type="button" class="btn-green" onClick="goDetail();" asp-action="TempDetail" asp-all-route-data="@routes.ToDictionary()">@Localizer["View details"]</button>
        </div>

    </div>
    <div class="tbl-item-wrap">
<form method="post" name="fmListTempCard">
    <input type="hidden" name="mode" value="ETempCardIssueStatus" />
    <input type="hidden" name="TempCardIssueApplyID" value="" />
    <input type="hidden" name="TempCardIssueStatus" value="" />
        <table class="tbl01">
            <tr>
                @* <th>@Localizer["Company Name"]</th> *@
                <th>@Localizer["Place Of Business"]</th>
                <th>@Localizer["Department Name"]</th>
                <th>@Localizer["Name"]</th>
                <th>@Localizer["Issue DateTime"]</th>
                <th>@Localizer["Temporary Certificate Number"]</th>
                <th>@Localizer["Status"]</th>
                <th>@Localizer["Collection DateTime"]</th>
                @* <th>@Localizer["Staff"]</th> *@
            </tr>

@{
    var location = "";  
    string issueDate="";
    string returnDate="";
    foreach(TempCardIssueApply m in Model.TempCardIssueApply){ 
        location = "";
        issueDate="";
        returnDate="";
        @* if(m.InsertDate != null){ *@
            issueDate=string.Format("{0:yyyy-MM-dd HH:mm}", m.InsertDate);
        @* } *@
        if(m.ReturnDate != null){
            returnDate=string.Format("{0:yyyy-MM-dd HH:mm}", m.ReturnDate);
        }

        if (m.Location != null && Model.CodeLocation != null) {
            foreach(var a in Model.CodeLocation) {
                if (a.SubCodeDesc != null && a.SubCodeDesc.Equals(m.Location)) {
                    if (CultureInfo.CurrentCulture.ToString().Equals("ko")) {
                        location = a.CodeNameKor;
                    }else {
                        location = a.CodeNameEng;
                    }
                }
            }
        }
            <tr onclick="selectRow(this, @m.TempCardIssueApplyID);" ondblclick="goDetail(@m.TempCardIssueApplyID)">
                @* <td>@m.CompanyName</td> *@
                <td>@location</td>
                <td>@m.OrgNameKor</td>
                <td>@m.Name</td>
                <td>@issueDate</td>
                <td>@m.CardNo</td>
                <td>
                @{
                    if(m.TempCardIssueStatus == 0){
                        <a href='javascript:void(0)' class='link-co' onclick="changeTempCardIssueStatus(@m.TempCardIssueApplyID);">@Localizer["Collect"]</a>
                        @* <button type="button" class="btn-gray" onclick="changeTempCardIssueStatus(@m.TempCardIssueApplyID);">@Localizer["Collect"]</button> *@
                    }else{
                        <span class='cg'>@Localizer["Collection Completed"]</span>                        
                    }
                }
                </td>
                <td>@returnDate</td>
                @* <td>@m.InsertName</td> *@
            </tr>
    }
}
            @* <tr onclick="selectRow(this, 2);">
                <td>부천</td>
                <td>시큐이데아</td>
                <td>홍길동</td>
                <td>인사</td>
                <td>2023-05-01 09:30</td>
                <td>김홍도</td>
                <td>569856985</td>
                <td><span class='cg'>@Localizer["Collection Completed"]</span></td>
                <td>2023-05-01 20:30</td>
            </tr> *@
        </table>
</form>
    </div>
    <div class="paging-item-wrap"> 
        @{
            routes = current.Clone();
            routes.PageNumber = 1;
            if (current.PageNumber <= 1){
                <a href="javascript:void(0);"><img src="/images/ico/ico-paging-first.svg" alt='@Localizer["Go to first page"]' /></a>
            }else{
                <a asp-action="TempList" asp-all-route-data="@routes.ToDictionary()"><img src="/images/ico/ico-paging-first.svg" alt='@Localizer["Go to first page"]' /></a>
            }
        }
        @{
            if ((current.PageNumber>1)) {
                routes.PageNumber = current.PageNumber -1;
                <a asp-action="TempList" asp-all-route-data="@routes.ToDictionary()"><img src="/images/ico/ico-paging-prev.svg" alt='@Localizer["Go to previous page"]' /></a>
            }else{
                <a href="javascript:void(0);"><img src="/images/ico/ico-paging-prev.svg" alt='@Localizer["Go to previous page"]' /></a>
            }            
        }
        <div class="value">
            <input type="text" class="inp" value="@current.PageNumber" />
            <span>/ @Model.TotalPages</span>
        </div>
        @{
            if (current.PageNumber<Model.TotalPages){
                routes.PageNumber = current.PageNumber +1;
                <a asp-action="TempList" asp-all-route-data="@routes.ToDictionary()"><img src="/images/ico/ico-paging-next.svg" alt='@Localizer["Go to next page"]' /></a>
            } else {
                <a href="javascript:void(0);"><img src="/images/ico/ico-paging-next.svg" alt='@Localizer["Go to next page"]' /></a>
            }
        }
        @{
            if (current.PageNumber == Model.TotalPages){
               <a href="javascript:void(0);"><img src="/images/ico/ico-paging-last.svg" alt='@Localizer["Go to last page"]'/></a>
            } else {
                routes.PageNumber = Model.TotalPages;
                <a asp-action="TempList" asp-all-route-data="@routes.ToDictionary()"><img src="/images/ico/ico-paging-last.svg" alt='@Localizer["Go to last page"]' /></a>
            }
        }
    </div>
</section>
<iframe name="ifTemp" title="temp" border="0" style="display:none;"></iframe>