@using WebVisit.Models.DomainModels.Passport;
@model AccessEventPersonListViewModel
@{
    @* ViewData["Title"] = "인원출입 조회"; *@
    AccessEventPersonGridData current = Model.CurrentRoute;
    GridData routes = Model.CurrentRoute.Clone();
    AccessEventPersonGridData searchRoute = Model.SearchRoute;

    AccessEventPersonGridData tab1Routes = Model.CurrentRoute.Clone();
    tab1Routes.TabIdx = 1;
    AccessEventPersonGridData tab2Routes = Model.CurrentRoute.Clone();
    tab2Routes.TabIdx = 2;

var class1 = "";
    var class2 = "";
    var display1 = "none";
    var display2 = "none";
    if(current.TabIdx == 1){
        class1 = "on";
        display1 = "block";
    } else if(current.TabIdx == 2){
        class2 = "on";
        display2 = "block";
    }
}
<script>
    function linkFunc (cellvalue, options, rowObject) {
        return "<a href='javascript:void(0)' class='link-co'>"+cellvalue+"</a>";

    };
    function statusFunc (cellvalue, options, rowObject) {
        if(cellvalue == "1"){
            return "<a href='javascript:void(0)' class='link-co'>회수하기</a>";
        }else if(cellvalue == "2"){
            return "<span class='cg'>회수완료</span>";
        }

    };

    function downloadExcel(){
        var myform = document.fmDlExcel;
        if (myform.action.includes("culture") == false)
            myform.action = myform.action + "?culture=@CultureInfo.CurrentCulture";
        myform.submit();
    }

    function downloadExcel2(){
        var myform = document.fmDlExcel2;
        if (myform.action.includes("culture") == false)
            myform.action = myform.action + "?culture=@CultureInfo.CurrentCulture";
        myform.submit();
    }
    @* $("body").on("click", "#btnTab1", function () {
        $('#btnTab1').addClass('on');
        $('#btnTab2').removeClass('on');
        $('#tab1').css('display', 'block');
        $('#tab2').css('display', 'none');
        gridList01();
    });
    $("body").on("click", "#btnTab2", function () {
        $('#btnTab1').removeClass('on');
        $('#btnTab2').addClass('on');
        $('#tab1').css('display', 'none');
        $('#tab2').css('display', 'block');
        gridList02();
    }); *@
    function search() {
        var myform = document.fmSearch;
        var field1 = myform.searchStartHour.options[myform.searchStartHour.selectedIndex].value;
        var field2 = myform.searchStartMinute.options[myform.searchStartMinute.selectedIndex].value;
        var field3 = myform.searchEndHour.options[myform.searchEndHour.selectedIndex].value;
        var field4 = myform.searchEndMinute.options[myform.searchEndMinute.selectedIndex].value;
        var field5 = myform.searchLocation.options[myform.searchLocation.selectedIndex].value;
        var keyword1 = myform.searchStartDate.value.trim().replace("/","");
        var keyword2 = myform.searchEndDate.value.trim().replace("/","");
        var keyword3 = myform.searchOrgNameKor.value.trim().replace("/","");
        var keyword4 = myform.searchName.value.trim().replace("/","");
        var url = myform.action + field1 + "/" + field2 + "/" + field3 + "/" + field4 + "/" + field5; 
        @* console.log("[search] field", field1); *@
        console.log("[search] url", url);
        if (keyword1 != null && keyword1.length > 0) {
            url += "/"+keyword1;
        }else {
            url +="/+"
        }
        if (keyword2 != null && keyword2.length > 0) {
            url += "/"+keyword2;
        }else {
            url +="/+"
        }
        if (keyword3 != null && keyword3.length > 0) {
            url += "/"+keyword3;
        }else {
            url +="/+"
        }
        if (keyword4 != null && keyword4.length > 0) {
            url += "/"+keyword4;
        }else {
            url +="/+"
        }
        url += "/?culture=@CultureInfo.CurrentCulture.ToString()";
        console.log("[search] url", url);
        window.location = url;
    }
    function search2() {
        var myform = document.fmSearch2;
        var field1 = myform.searchStartHour.options[myform.searchStartHour.selectedIndex].value;
        var field2 = myform.searchStartMinute.options[myform.searchStartMinute.selectedIndex].value;
        var field3 = myform.searchEndHour.options[myform.searchEndHour.selectedIndex].value;
        var field4 = myform.searchEndMinute.options[myform.searchEndMinute.selectedIndex].value;
        var field5 = myform.searchLocation.options[myform.searchLocation.selectedIndex].value;
        var keyword1 = myform.searchStartDate.value.trim().replace("/","");
        var keyword2 = myform.searchEndDate.value.trim().replace("/","");
        var keyword3 = myform.searchOrgNameKor.value.trim().replace("/","");
        var keyword4 = myform.searchName.value.trim().replace("/","");
        var url = myform.action + field1 + "/" + field2 + "/" + field3 + "/" + field4 + "/" + field5; 
        @* console.log("[search] field", field1); *@
        console.log("[search] url", url);
        if (keyword1 != null && keyword1.length > 0) {
            url += "/"+keyword1;
        }else {
            url +="/+"
        }
        if (keyword2 != null && keyword2.length > 0) {
            url += "/"+keyword2;
        }else {
            url +="/+"
        }
        if (keyword3 != null && keyword3.length > 0) {
            url += "/"+keyword3;
        }else {
            url +="/+"
        }
        if (keyword4 != null && keyword4.length > 0) {
            url += "/"+keyword4;
        }else {
            url +="/+"
        }
        url += "/?culture=@CultureInfo.CurrentCulture.ToString()";
        console.log("[search] url", url);
        window.location = url;
    }
    
</script>

<div class="tabmenu-list-wrap t01">
    <ul>
        <li><a asp-action="personlist" asp-all-route-data="@tab1Routes.ToDictionary()" class="@class1">@Localizer["Access Record Information"]</a></li>
        <li><a asp-action="personlist" asp-all-route-data="@tab2Routes.ToDictionary()" class="@class2">@Localizer["Abnormal Access Record Information"]</a></li>
        @* <li><a href="javascript:void(0)" id="btnTab1" class="on">@Localizer["Access Record Information"]</a></li>
        <li><a href="javascript:void(0)" id="btnTab2">@Localizer["Abnormal Access Record Information"]</a></li> *@
    </ul>
</div>
@{
    if(current.TabIdx == 1){
<div id='tab1' style='display:block;'>
    <section class="page-search-wrap">
        <div class="mob-toggle-wrap">
            <a href="javascript:void(0)">
                <span>@Localizer["Filter"]</span>
                <img src="/images/ico/ico-arr-up01.svg" alt="열기" />
            </a>
        </div>
        <div class="search-group-wrap">
            <div class="search-form-wrap" id='searchField1'>
                <ul>
<form method="get" name="fmSearch" asp-route-pagenumber="1" 
    asp-route-tabIdx="@current.TabIdx" asp-route-pagesize="@current.PageSize" asp-route-sortfield="@current.SortField" asp-route-sortdirection="@current.SortDirection" 
    asp-route-searchstartdate="" asp-route-searchstarthour="" asp-route-searchstartminute="" asp-route-searchenddate="" asp-route-searchendhour="" asp-route-searchendminute=""
    asp-route-searchlocation="" asp-route-searchorgnamekor="" asp-route-searchname="">
                    <li>
                        <div class="label ">@Localizer["Place Of Business"]</div>
                        <div class="form-item-wrap">
                            @{
                                if(CultureInfo.CurrentCulture.ToString().Equals("en")){
                                    <select class="select full" name="searchLocation" asp-items='@(new SelectList(Model.CodeLocation, nameof(CommonCode.SubCodeDesc), nameof(CommonCode.CodeNameEng), @searchRoute.SearchLocation))'>
                                        <option value="-1">@Localizer["Entire"]</option>
                                    </select>
                                }else{
                                    <select class="select full" name="searchLocation" asp-items='@(new SelectList(Model.CodeLocation, nameof(CommonCode.SubCodeDesc), nameof(CommonCode.CodeNameKor), @searchRoute.SearchLocation))'>
                                        <option value="-1">@Localizer["Entire"]</option>
                                    </select>
                                }
                            }
                        </div>
                    </li>
                    @* 
                    <li class="empty"></li>
                    <li>
                        <div class="label">@Localizer["Company Name"]</div>
                        <div class="form-item-wrap">
                            <input type="text" class="inp full" placeholder='@Localizer["Company Name"]' name="seCompanyName" />
                        </div>
                    </li> *@
                    <li>
                        <div class="label t01">@Localizer["Department Name"]</div>
                        <div class="form-item-wrap">
                            <input type="text" class="inp full" placeholder='@Localizer["Department Name"]' name="searchOrgNameKor" value="@searchRoute.SearchOrgNameKor" />
                        </div>
                    </li>
                    <li>
                        <div class="label t01">@Localizer["Name"]</div>
                        <div class="form-item-wrap">
                            <input type="text" class="inp full" placeholder='@Localizer["Name"]' name="searchName" value="@searchRoute.SearchName" />
                        </div>
                    </li>
                    <li class="per02">
                        <div class="label">@Localizer["Search Date"]</div>
                        <div class="form-item-wrap">
                            <div class="form-item-wrap">
                                <input type="text" name="searchStartDate" value="@searchRoute.SearchStartDate" placeholder="YYYY-MM-DD" class="inpdate" onkeyup="generateDateString(this)" maxlength="10" style="width:100px;" />
                                <select class="select" name="searchStartHour" value="@searchRoute.SearchStartHour">
                                    @{
                                        for(int i=0; i<=23; i++){
                                            <option value='@i'>@i</option>
                                        }
                                    }
                                </select>@Localizer["Hour"]
                                <select class="select" name="searchStartMinute" value="@searchRoute.SearchStartMinute">
                                    @{
                                        for(int i=0; i<=59; i++){
                                            <option value='@i'>@i</option>
                                        }
                                    }
                                </select>@Localizer["Minute"]
                                <span class="e01">~</span>
                                <input type="text" name="searchEndDate" value="@searchRoute.SearchEndDate" placeholder="YYYY-MM-DD" class="inpdate" onkeyup="generateDateString(this)" maxlength="10" style="width:100px;" />
                                <select class="select" name="searchEndHour" value="@searchRoute.SearchEndHour">
                                    @{
                                        for(int i=0; i<=23; i++){
                                            <option value='@i'>@i</option>
                                        }
                                    }
                                </select>@Localizer["Hour"]
                                <select class="select" name="searchEndMinute" value="@searchRoute.SearchEndMinute">
                                    @{
                                        for(int i=0; i<=59; i++){
                                            <option value='@i'>@i</option>
                                        }
                                    }
                                </select>@Localizer["Minute"]
                            </div>
                        </div>
                    </li>
</form>
                </ul>
            </div>
            <div class="search-btn-wrap">
                <button type="button" onclick="search()">@Localizer["Search"]</button>
            </div>
        </div>
    </section>

    <section class="grid-item-wrap">
        <div class="list-func-wrap">
            <div class="list-info-wrap">
                <div class="viewrecords">@String.Format(Localizer["A total of {0} was viewed"].Value, Model.TotalCnt)</div>
            </div>
            <div class="side-btn-wrap">
                <form name="fmDlExcel" method="post" asp-action="ExcelDownload" asp-all-route-data="@current.ToDictionary()" target="ifTemp">
                    <input type="hidden" name="ExTitle" value='@Localizer["Access Record Information"]' />
                    @* @ViewData["Title"] *@
                    <button type="button" class="btn-green" onClick="downloadExcel();">@Localizer["Download Excel"]</button>
                </form>
                @* <button type="button" class="btn-green" onClick="downloadExcel();">@Localizer["Download Excel"]</button> *@
            </div>

        </div>
        <div class="tbl-item-wrap">
            <table class="tbl01" aria-label="출입기록 목록">
                <tr>
                    <th>@Localizer["Hour2"]</th>
                    <th>@Localizer["Card Number"]</th>
                    <th>@Localizer["Name"]</th>
                    <th>@Localizer["Position"]</th>
                    <th>@Localizer["Department Name"]</th>
                    <th>@Localizer["Sabun"]</th>
                    <th>@Localizer["Device Name"]</th>
                    <th>@Localizer["Location"]</th>
                    <th>@Localizer["Access Status"]</th>
                </tr>
@{
    var eventDateTime = "";
    foreach(ViewAccesseventList m in Model.ViewAccesseventLists){
        if(m?.EventDateTime != null){
            eventDateTime=string.Format("{0:yyyy-MM-dd HH:mm:ss}", m.EventDateTime);
        }
                <tr>
                    <td>@eventDateTime</td>
                    <td>@m?.CardNo?.HideEven()</td>
                    <td>@m?.PersonName</td>
                    <td>@m?.GradeName</td>
                    <td>@m?.OrgName</td>
                    <td>@m?.Sabun</td>
                    <td>@m.EqName</td>
                    <td>@m.LocationName</td>
                    <td>@m.StateName</td>
                </tr>
    }
}
            </table>
        </div>
        <div class="paging-item-wrap"> 
            @{
                routes = current.Clone();
                routes.PageNumber = 1;
                if (current.PageNumber <= 1){
                    <a href="javascript:void(0);"><img src="/images/ico/ico-paging-first.svg" alt='@Localizer["Go to first page"]' /></a>
                }else{
                    <a asp-action="PersonList" asp-all-route-data="@routes.ToDictionary()"><img src="/images/ico/ico-paging-first.svg" alt='@Localizer["Go to first page"]' /></a>
                }
            }
            @{
                if ((current.PageNumber>1)) {
                    routes.PageNumber = current.PageNumber -1;
                    <a asp-action="PersonList" asp-all-route-data="@routes.ToDictionary()"><img src="/images/ico/ico-paging-prev.svg" alt='@Localizer["Go to previous page"]' /></a>
                }else{
                    <a href="javascript:void(0);"><img src="/images/ico/ico-paging-prev.svg" alt='@Localizer["Go to previous page"]' /></a>
                }            
            }
            <div class="value">
                <input type="text" class="inp" value="@current.PageNumber" />
                <span>/ @Model.TotalPages</span>
            </div>
            @{
                if (current.PageNumber<Model.TotalPages){
                    routes.PageNumber = current.PageNumber +1;
                    <a asp-action="PersonList" asp-all-route-data="@routes.ToDictionary()"><img src="/images/ico/ico-paging-next.svg" alt='@Localizer["Go to next page"]' /></a>
                } else {
                    <a href="javascript:void(0);"><img src="/images/ico/ico-paging-next.svg" alt='@Localizer["Go to next page"]' /></a>
                }
            }
            @{
                if (current.PageNumber == Model.TotalPages){
                <a href="javascript:void(0);"><img src="/images/ico/ico-paging-last.svg" alt='@Localizer["Go to last page"]'/></a>
                } else {
                    routes.PageNumber = Model.TotalPages;
                    <a asp-action="PersonList" asp-all-route-data="@routes.ToDictionary()"><img src="/images/ico/ico-paging-last.svg" alt='@Localizer["Go to last page"]' /></a>
                }
            }
        </div>
    </section>
</div>
    }
}

@{
    if(current.TabIdx == 2){
<div id='tab2' style='display:block;'>
    <section class="page-search-wrap">
        <div class="mob-toggle-wrap">
            <a href="javascript:void(0)">
                <span>@Localizer["Filter"]</span>
                <img src="/images/ico/ico-arr-up01.svg" alt="열기" />
            </a>
        </div>
        <div class="search-group-wrap">
            <div class="search-form-wrap" id='searchField1'>
                <ul>
<form method="get" name="fmSearch2" asp-route-pagenumber="1" 
    asp-route-tabIdx="@current.TabIdx" asp-route-pagesize="@current.PageSize" asp-route-sortfield="@current.SortField" asp-route-sortdirection="@current.SortDirection" 
    asp-route-searchstartdate="" asp-route-searchstarthour="" asp-route-searchstartminute="" asp-route-searchenddate="" asp-route-searchendhour="" asp-route-searchendminute=""
    asp-route-searchlocation="" asp-route-searchorgnamekor="" asp-route-searchname="">
                    <li>
                        <div class="label ">@Localizer["Place Of Business"]</div>
                        <div class="form-item-wrap">
                            @{
                                if(CultureInfo.CurrentCulture.ToString().Equals("en")){
                                    <select class="select full" name="searchLocation" asp-items='@(new SelectList(Model.CodeLocation, nameof(CommonCode.SubCodeDesc), nameof(CommonCode.CodeNameEng), @searchRoute.SearchLocation))'>
                                        <option value="-1">@Localizer["Entire"]</option>
                                    </select>
                                }else{
                                    <select class="select full" name="searchLocation" asp-items='@(new SelectList(Model.CodeLocation, nameof(CommonCode.SubCodeDesc), nameof(CommonCode.CodeNameKor), @searchRoute.SearchLocation))'>
                                        <option value="-1">@Localizer["Entire"]</option>
                                    </select>
                                }
                            }
                        </div>
                    </li>
                    @* <li class="empty"></li>
                    <li>
                        <div class="label">@Localizer["Company Name"]</div>
                        <div class="form-item-wrap">
                            <input type="text" class="inp full" placeholder='@Localizer["Company Name"]' name="seCompanyName" />
                        </div>
                    </li> *@
                    <li>
                        <div class="label t01">@Localizer["Department Name"]</div>
                        <div class="form-item-wrap">
                            <input type="text" class="inp full" placeholder='@Localizer["Department Name"]' name="searchOrgNameKor" value="@searchRoute.SearchOrgNameKor" />
                        </div>
                    </li>
                    <li>
                        <div class="label t01">@Localizer["Name"]</div>
                        <div class="form-item-wrap">
                            <input type="text" class="inp full" placeholder='@Localizer["Name"]' name="searchName" value="@searchRoute.SearchName" />
                        </div>
                    </li>
                    <li class="per02">
                        <div class="label">@Localizer["Search Date"]</div>
                        <div class="form-item-wrap">
                            <div class="form-item-wrap">
                                <input type="text" name="searchStartDate" value="@searchRoute.SearchStartDate" placeholder="YYYY-MM-DD" class="inpdate" onkeyup="generateDateString(this)"  maxlength="10" style="width:100px;" />
                                <select class="select" name="searchStartHour" style="width:30px;" value="@searchRoute.SearchStartHour">
                                    @{
                                        for(int i=0; i<=22; i++){
                                            <option value='@i'>@i</option>
                                        }
                                    }
                                </select>@Localizer["Hour"]
                                <select class="select" name="searchStartMinute" value="@searchRoute.SearchStartMinute">
                                    @{
                                        for(int i=0; i<=59; i++){
                                            <option value='@i'>@i</option>
                                        }
                                    }
                                </select>@Localizer["Minute"]
                                <span class="e01">~</span>
                                <input type="text" name="searchEndDate" value="@searchRoute.SearchEndDate" placeholder="YYYY-MM-DD" class="inpdate" onkeyup="generateDateString(this)"  maxlength="10" style="width:100px;" />
                                <select class="select" name="searchEndHour">
                                    @{
                                        for(int i=0; i<=22; i++){
                                            <option value='@i'>@i</option>
                                        }
                                    }
                                </select>@Localizer["Hour"]
                                <select class="select" name="searchEndMinute" value="@searchRoute.SearchEndMinute">
                                    @{
                                        for(int i=0; i<=59; i++){
                                            <option value='@i'>@i</option>
                                        }
                                    }
                                </select>@Localizer["Minute"]
                            </div>
                        </div>
                    </li>
</form>
                </ul>
            </div>
            <div class="search-btn-wrap">
                <button type="button" onclick="search2()">@Localizer["Search"]</button>
            </div>
        </div>
    </section>

    <section class="grid-item-wrap">
        <div class="list-func-wrap">
            <div class="list-info-wrap">
                <div class="viewrecords">@String.Format(Localizer["A total of {0} was viewed"].Value, Model.TotalCnt)</div>
            </div>
            <div class="side-btn-wrap">
                <form name="fmDlExcel" method="post" asp-action="ExcelDownload" asp-all-route-data="@current.ToDictionary()" target="ifTemp">
                    <input type="hidden" name="ExTitle" value='@Localizer["Abnormal Access Record Information"]' />
                    @* @ViewData["Title"] *@
                    <button type="button" class="btn-green" onClick="downloadExcel();">@Localizer["Download Excel"]</button>
                </form>
                @* <button type="button" class="btn-green" onClick="downloadExcel();">@Localizer["Download Excel"]</button> *@
            </div>

        </div>
        <div class="tbl-item-wrap">
            <table class="tbl01">
                <tr>
                    <th>@Localizer["Hour2"]</th>
                    <th>@Localizer["Card Number"]</th>
                    <th>@Localizer["Name"]</th>
                    <th>@Localizer["Position"]</th>
                    <th>@Localizer["Department Name"]</th>
                    <th>@Localizer["Sabun"]</th>
                    <th>@Localizer["Device Name"]</th>
                    <th>@Localizer["Location"]</th>
                    <th>@Localizer["Access Status"]</th>
                </tr>
@{
    var eventDateTime2 = "";
    foreach(ViewAccesseventList m in Model.ViewAccesseventLists){
        if(m?.EventDateTime != null){
            eventDateTime2=string.Format("{0:yyyy-MM-dd HH:mm:ss}", m.EventDateTime);
        }
                <tr>
                    <td>@eventDateTime2</td>
                    <td>@m?.CardNo?.HideEven()</td>
                    <td>@m?.PersonName</td>
                    <td>@m?.GradeName</td>
                    <td>@m?.OrgName</td>
                    <td>@m?.Sabun</td>
                    <td>@m.EqName</td>
                    <td>@m.LocationName</td>
                    <td>@m.StateName</td>
                </tr>
    }
}
            </table>
        </div>
        <div class="paging-item-wrap"> 
            @{
                routes = current.Clone();
                routes.PageNumber = 1;
                if (current.PageNumber <= 1){
                    <a href="javascript:void(0);"><img src="/images/ico/ico-paging-first.svg" alt='@Localizer["Go to first page"]' /></a>
                }else{
                    <a asp-action="PersonList" asp-all-route-data="@routes.ToDictionary()"><img src="/images/ico/ico-paging-first.svg" alt='@Localizer["Go to first page"]' /></a>
                }
            }
            @{
                if ((current.PageNumber>1)) {
                    routes.PageNumber = current.PageNumber -1;
                    <a asp-action="PersonList" asp-all-route-data="@routes.ToDictionary()"><img src="/images/ico/ico-paging-prev.svg" alt='@Localizer["Go to previous page"]' /></a>
                }else{
                    <a href="javascript:void(0);"><img src="/images/ico/ico-paging-prev.svg" alt='@Localizer["Go to previous page"]' /></a>
                }            
            }
            <div class="value">
                <input type="text" class="inp" value="@current.PageNumber" />
                <span>/ @Model.TotalPages</span>
            </div>
            @{
                if (current.PageNumber<Model.TotalPages){
                    routes.PageNumber = current.PageNumber +1;
                    <a asp-action="PersonList" asp-all-route-data="@routes.ToDictionary()"><img src="/images/ico/ico-paging-next.svg" alt='@Localizer["Go to next page"]' /></a>
                } else {
                    <a href="javascript:void(0);"><img src="/images/ico/ico-paging-next.svg" alt='@Localizer["Go to next page"]' /></a>
                }
            }
            @{
                if (current.PageNumber == Model.TotalPages){
                <a href="javascript:void(0);"><img src="/images/ico/ico-paging-last.svg" alt='@Localizer["Go to last page"]'/></a>
                } else {
                    routes.PageNumber = Model.TotalPages;
                    <a asp-action="PersonList" asp-all-route-data="@routes.ToDictionary()"><img src="/images/ico/ico-paging-last.svg" alt='@Localizer["Go to last page"]' /></a>
                }
            }
        </div>
    </section>
</div>
    }
}
<iframe name="ifTemp" title="temp" border="0" style="display:block;border:0;"></iframe>