@model NoticeListViewModel
@{
    NoticeGridData current = Model.CurrentRoute;
    GridData routes = Model.CurrentRoute.Clone();
    GridData searchRoutes = Model.CurrentRoute.Clone();
    searchRoutes.SearchField = "";
    searchRoutes.SearchKeyword = "";
}
    @* @ViewContext.RouteData.Values["pagenumber"] *@
    @* @Context.Request.Path *@

<script>
    function linkFunc (cellvalue, options, rowObject) {
        return "<a href='javascript:void(0)' class='link-co'>"+cellvalue+"</a>";

    };
    function statusFunc (cellvalue, options, rowObject) {
        if(cellvalue == "1"){
            return "<a href='javascript:void(0)' class='link-co'>회수하기</a>";
        }else if(cellvalue == "2"){
            return "<span class='cg'>회수완료</span>";
        }
    };

    function goReg(uri){
        console.log(uri.formaction);
        uri +='?culture=@CultureInfo.CurrentCulture';
        console.log("[goReg]"+uri);
        @* window.location = uri; *@
        @* window.location = '/notice/reg/?culture=@CultureInfo.CurrentCulture' *@
    }
    var clickID = -1;
    function goDetail(dbclickID){
        if (dbclickID != undefined) {
            clickID = dbclickID;
        }
        if (clickID == -1) {
            alert("상세 보기할 리스트를 선택해 주세요.")
            return;
        }
        var uri = document.getElementById('aDetail').href + '?culture=@CultureInfo.CurrentCulture&noticeID='+clickID;
        console.log("[goDetail]"+uri);        
        window.location = uri;
        @* window.location = '/notice/detail/?culture=@CultureInfo.CurrentCulture' *@
    }

    var selectedRowObj;
    function selectRow(row, idx){
        if(selectedRowObj != undefined){
            selectedRowObj.classList.remove('on');
        }
        selectedRowObj=row;
        row.classList.add('on');
        clickID = idx;
    }
    function search() {
        var myform = document.fmSearch;
        var keyword = myform.SearchKeyword.value.trim();
        console.log("keyword", keyword);
        if (keyword == null || keyword.length < 1) {
            alert("검색어를 입력해 주세요.")
            return;
        }
        var field = myform.SearchField.options[myform.SearchField.selectedIndex].value;
        window.location = myform.action + field +"/"+keyword+ "/?culture=@CultureInfo.CurrentCulture.ToString()"
        @* myform.submit(); *@
    }
</script>
<div>
<section class="page-search-wrap">
    <div class="mob-toggle-wrap">
        <a href="javascript:void(0)">
            <span>@Localizer["Filter"]</span>
            <img src="/images/ico/ico-arr-up01.svg" alt="열기" />
        </a>
    </div>
    <div class="search-group-wrap">
        <div class="search-form-wrap">
            <ul>
<form method=GET name="fmSearch" asp-action="List" asp-all-route-data="@searchRoutes.ToDictionary()">
                <li class="per02">
                    <div class="label">
                        <select asp-for="SearchField" asp-items="Model.SearchFieldsKor" name="SearchField" class="select"></select> 
                        @* <select name="SearchField" class="select">
                            <option value="Title">@Localizer["Title"]</option>
                            <option value="Contents">@Localizer["Contents"]</option>                            
                        </select> *@
                    </div>
                    <div class="form-item-wrap">
                        <div class="form-item-wrap">
                            &nbsp;&nbsp;<input type="text" name="SearchKeyword" asp-for="SearchKeyword" class="inp full" placeholder='@Localizer["Title"] / @Localizer["Contents"]' />
                        </div>
                    </div>
                </li>
</form>
                @* <li class="per02">
                    <div class="label t01">@Localizer["Contents"]</div>
                    <div class="form-item-wrap">
                        <div class="form-item-wrap">
                            <input type="text" class="inp full" placeholder='@Localizer["Contents"]' name="seContents" />
                        </div>
                    </div>
                </li> *@

            </ul>
        </div>
        <div class="search-btn-wrap">
            <button type="button" onclick="search()">@Localizer["Search"]</button>
        </div>
    </div>
</section>

<section class="grid-item-wrap">
    <div class="list-func-wrap">
        <div class="list-info-wrap">
            <div class="viewrecords">@String.Format(Localizer["A total of {0} was viewed"].Value, @Model.TotalCount)</div>
        </div>
        <div class="side-btn-wrap">
@{
            if(Model.IsMaster) {
            <a asp-action="Reg" asp-all-route-data="@routes.ToDictionary()" >
                <button type="button" class="btn-green" onClick="goReg(this);" asp-action="Reg" 
                    asp-all-route-data="@routes.ToDictionary()">@Localizer["New registration"]</button>
            </a>
            }
}
            <a asp-action="Detail" asp-all-route-data="@routes.ToDictionary()" id="aDetail" style="visibility:invisible;"></a>
            <a asp-action="List" asp-all-route-data="@routes.ToDictionary()" id="aList" style="visibility:invisible;"></a>
            <button type="button" class="btn-green" onClick="goDetail();" asp-action="Detail" 
                asp-all-route-data="@routes.ToDictionary()">@Localizer["View details"]</button>
        </div>
    </div>
    <div class="tbl-item-wrap">
        <table class="tbl01" aria-label="회사 리스트">
            <tr>
                <th>@Localizer["Creation Date"]</th>
                <th>@Localizer["Title"]</th>
            </tr>
            
@{
    foreach(var m in Model.Notices)
    {
            <tr onclick="selectRow(this, @m.NoticeID);" ondblclick="goDetail(@m.NoticeID)">
                <td>@m.InsertDate.ToString("yyyy-MM-dd")</td>
                <td>@m.Title</td>
            </tr>
    }
}
        </table>
    </div>

    <div class="paging-item-wrap">
        @* /sys/list/page/1/size/3/sort/groupno/asc/?OrderNo=0 *@
        @{
            routes = current.Clone();
            routes.PageNumber = 1;
            if (current.PageNumber <= 1){
                <a href="javascript:void(0);"><img src="/images/ico/ico-paging-first.svg" alt="첫 페이지로 이동" /></a>
            }else{
                <a asp-action="List" asp-all-route-data="@routes.ToDictionary()"><img src="/images/ico/ico-paging-first.svg" alt="첫 페이지로 이동" /></a>
            }
        }
        @{
            if ((current.PageNumber>1)) {
                routes.PageNumber = current.PageNumber -1;
                <a asp-action="List" asp-all-route-data="@routes.ToDictionary()"><img src="/images/ico/ico-paging-prev.svg" alt="이전 페이지로 이동" /></a>
            }else{
                <a href="javascript:void(0);"><img src="/images/ico/ico-paging-prev.svg" alt="이전 페이지로 이동" /></a>
            }
            
        }
        <div class="value">
            <input type="text" class="inp" value="@current.PageNumber" />
            <span>/ @Model.TotalPages</span>
        </div>
        @{
            if (current.PageNumber<Model.TotalPages){
                routes.PageNumber = current.PageNumber +1;
                <a asp-action="List" asp-all-route-data="@routes.ToDictionary()"><img src="/images/ico/ico-paging-next.svg" alt="다음 페이지로 이동" /></a>
            } else {
                <a href="javascript:void(0);"><img src="/images/ico/ico-paging-next.svg" alt="다음 페이지로 이동" /></a>
            }

        }
        @{
            if (current.PageNumber == Model.TotalPages){
               <a href="javascript:void(0);"><img src="/images/ico/ico-paging-last.svg" alt="마지막 페이지로 이동" /></a>
            } else {
                routes.PageNumber = Model.TotalPages;
                <a asp-action="List" asp-all-route-data="@routes.ToDictionary()"><img src="/images/ico/ico-paging-last.svg" alt="마지막 페이지로 이동" /></a>
            }
        }
    </div>
</section>
