@model VisitRegViewModel
@{
    ViewData["Title"] = @Localizer["Register Visitor Manual"]; //"방문객 수기 등록";
}
<script>
    $(function(){
    window.onload = function (){
        @* console.log("PREV_URL:"+PREV_URL); *@
        PREV_URL = document.getElementById('aList').href + '?culture=@CultureInfo.CurrentCulture';
        console.log("PREV_URL:"+PREV_URL);
    }
        $("body").on("click", "#btn-add", function(){
            var _temp = $("#temp").html();
            $("#add-form-wrap").append(_temp);
            $("#add-form-wrap .num").each(function(i){
               $(this).text("0"+(i+2));
            });
        });
        $("body").on("click", ".reg-header-wrap a", function(){
            $(this).parents(".reg-form-wrap").eq(0).remove();
            $("#add-form-wrap .num").each(function(i){
                $(this).text("0"+(i+2));
            });
        });
    });
    function checkVisitor(){
        var myform = document.fmAddManual;
        var name="";
        var birth="";
        var formGender = null;
        var formMobile = null;
        var formCarNo = null;
        var formCompanyName = null;
        if(myform.Name.value.trim().length < 1 ){
            document.getElementById("errormsg").innerHTML = '@Localizer["Please enter the visitor name"]';
            myform.Name.focus();
            return;
        }
        if(myform.BirthDate.value.trim().length < 1 ){
            document.getElementById("errormsg").innerHTML = '@Localizer["Please enter your birth date"]';
            myform.BirthDate.focus();
            return;
        }
        name = myform.Name.value.trim();
        birth = myform.BirthDate.value.trim();
        formGender = myform.Gender;
        formMobile = myform.Mobile;
        formCarNo = myform.CarNo;
        formCompanyName = myform.CompanyName;
        $.ajax({
            url: "/visit/getvisitorinfo",
            data: { name, birth },
            method: "GET",
            dataType: "JSON"
        }).done(function(json) {
            console.log("[checkVisitor]", json);
            if (json != null){
                console.log("[checkVisitor]", json);
                let t = new Date();
                if (json.gender != null)
                    formGender.selectedIndex = json.gender;
                if (json.mobile != null)
                    formMobile.value = json.mobile;
                if (json.carNo != null)
                    formCarNo.value = json.carNo;
                if (json.companyName != null)
                    formCompanyName.value = json.companyName;                
            }
        });
    }
    // add
    function saveAddForm(){
        var myform = document.fmAddManual;
        var regPhone= /^([0-9]{2,4})-?([0-9]{3,4})-?([0-9]{4})$/;
        //방문신청회원
        if(myform.Name.value.trim().length < 1 ){
            document.getElementById("errormsg").innerHTML = '@Localizer["Please enter your name"]';
            myform.Name.focus();
            return;
        }
        if(myform.BirthDate.value.trim().length < 1 ){
            document.getElementById("errormsg").innerHTML = '@Localizer["Please enter your birth date"]';
            myform.BirthDate.focus();
            return;
        }
        if(myform.Mobile.value.trim().length < 1 ){
            document.getElementById("errormsg").innerHTML = '@Localizer["Please enter your mobile phone number"]';
            myform.Mobile.focus();
            return;
        }
        if(!regPhone.test(myform.Mobile.value)) {
            document.getElementById("errormsg").innerHTML = '@Localizer["Please enter your mobile phone number correctly"] ex)000-0000-0000';
            myform.Mobile.focus();
            return;
        }
        if(myform.CompanyName.value.trim().length < 1 ){
            document.getElementById("errormsg").innerHTML = '@Localizer["Please enter your company name"]';
            myform.CompanyName.focus();
            return;
        }
        //방문신청
        if(myform.VisitStartDate.value.trim().length < 1 ){
            document.getElementById("errormsg").innerHTML = '@Localizer["Please enter the date of visit"]';
            myform.VisitStartDate.focus();
            return;
        }
        if(myform.VisitEndDate.value.trim().length < 1 ){
            document.getElementById("errormsg").innerHTML = '@Localizer["Please enter the date of visit"]';
            myform.VisitEndDate.focus();
            return;
        }
        if(myform.PlaceCodeID.value < 0 ){
            document.getElementById("errormsg").innerHTML = '@Localizer["Please select an access area"]';
            return;
        }
        var con = confirm('@Localizer["Would you like to save"]');
        if(con){
            myform.submit();
        }
    }
</script>
<form name="fmAddManual" method="post">
    <input type="hidden" name="mode" value="A" />
    <input type="hidden" name="RegVisitorType" value="0" />@* 방문신청자구분(등록자):임직원(0)/방문자(1)  *@
    <input type="hidden" name="VisitorType" value="1" />@* 방문자구분(방문자): 임직원(0)-비상주업체관리자 또는 비상주사원 /방문자(1) *@
    <input type="hidden" name="VisitApplyType" value="3" />@* 방문신청구분: 방문신청(0)/공사출입인원신청(1)/안전교육(2)/방문객수기등록(3)/택배(4)*@
    <input type="hidden" name="VisitPersonID" value="" />@* 방문객회원ID: 성명과 생년월일을 이용하여 검색. *@

    <div class="tit-header-wrap">
        <div class="rtit">@Localizer["Visitor Information"]</div>
    </div>
    <div id="add-form-wrap">
        <div class="reg-form-wrap">
            <ul>
                <li>
                    <div class="label s03">@Localizer["Name"]</div>
                    <div class="form-item-wrap">
                        <input type="text" class="inp" placeholder='@Localizer["Name"]' name="Name" />
                    </div>
                </li>
                <li>
                    <div class="label s03">@Localizer["Birth Date"]</div>
                    <div class="form-item-wrap">
                        <input type="text" class="inpdate" placeholder="YYYY-MM-DD" name="BirthDate" onkeyup="generateDateString(this)" maxlength="10" />
                        &nbsp;
                        <button type="button" class="btn-gray" onclick="checkVisitor();">@Localizer["Confirm"]</button>
                    </div>
                </li>
                <li>
                    <div class="label s03">@Localizer["Gender"]</div>
                    <div class="form-item-wrap">
                        @{
                            if(CultureInfo.CurrentCulture.ToString().Equals("en")){
                                <select class="select" name="Gender" asp-items='@(new SelectList(Model.CodeGenderType, nameof(CommonCode.SubCodeID), nameof(CommonCode.CodeNameEng)))'></select>                        
                            }else{
                                <select class="select" name="Gender" asp-items='@(new SelectList(Model.CodeGenderType, nameof(CommonCode.SubCodeID), nameof(CommonCode.CodeNameKor)))'></select>                        
                            }
                        }
                    </div>
                </li>
                <li>
                    <div class="label s03">@Localizer["CellPhone"]</div>
                    <div class="form-item-wrap">
                        <input type="text" class="inp" placeholder='@Localizer["CellPhone"]' name="Mobile" onkeyup="generatePhoneString(this);" maxlength="13"  />
                    </div>
                </li>
                <li>
                    <div class="label s03">@Localizer["Company Name"]</div>
                    <div class="form-item-wrap">
                        <input type="text" class="inp" placeholder='@Localizer["Company Name"]' name="CompanyName" />
                    </div>
                </li>
                <li>
                    <div class="label s03">@Localizer["Car No"]</div>
                    <div class="form-item-wrap">
                        <input type="text" class="inp" placeholder='@Localizer["Car No"]' name="CarNo" />
                    </div>
                </li>
            </ul>
        </div>
    </div>


    <div class="tit-header-wrap">
        <div class="rtit">@Localizer["Application Visit Information"]</div>
    </div>
    <div>
        <div class="reg-form-wrap">
            <ul>
                <li>
                    <div class="label s03">@Localizer["Place Of Business"]</div>
                    <div class="form-item-wrap">
                        @{
                            if(CultureInfo.CurrentCulture.ToString().Equals("en")){
                                <select class="select" name="Location" asp-items='@(new SelectList(Model.CodeLocation, nameof(CommonCode.SubCodeDesc), nameof(CommonCode.CodeNameEng)))'></select>
                            }else{
                                <select class="select" name="Location" asp-items='@(new SelectList(Model.CodeLocation, nameof(CommonCode.SubCodeDesc), nameof(CommonCode.CodeNameKor)))'></select>
                            }
                        }
                    </div>
                </li>
                <li>
                    <div class="label s03">@Localizer["Visit Date"]</div>
                    <div class="form-item-wrap">
                        <input type="text" name="VisitStartDate" class="inpdate" value='@DateTime.Now.ToString("yyyy-MM-dd")' onkeyup="generateDateString(this)" maxlength="10" />
                            ~ 
                        <input type="text" name="VisitEndDate" class="inpdate" value='@DateTime.Now.ToString("yyyy-MM-dd")' onkeyup="generateDateString(this)" maxlength="10" />
                    </div>
                </li>
                <li>
                    <div class="label s03">@Localizer["Access Area"]</div>
                    <div class="form-item-wrap">
                        @{
                            if(CultureInfo.CurrentCulture.ToString().Equals("en")){
                                <select class="select" name="PlaceCodeID" asp-items='@(new SelectList(Model.CodePlace, nameof(CommonCode.SubCodeID), nameof(CommonCode.CodeNameEng)))'>
                                    <option value='-1'>@Localizer["Select"]</option> 
                                </select>
                            }else{
                                <select class="select" name="PlaceCodeID" asp-items='@(new SelectList(Model.CodePlace, nameof(CommonCode.SubCodeID), nameof(CommonCode.CodeNameKor)))'>
                                    <option value='-1'>@Localizer["Select"]</option> 
                                </select>
                            }
                        }
                    </div>
                </li>
                <li>
                    <div class="label s03">@Localizer["Visit Purpose"]</div>
                    <div class="form-item-wrap">
                        @{
                            if(CultureInfo.CurrentCulture.ToString().Equals("en")){
                                <select class="select" name="VisitManualPurposeCodeID" asp-items='@(new SelectList(Model.CodeVisitManualPurpose, nameof(CommonCode.SubCodeID), nameof(CommonCode.CodeNameEng)))'></select>
                            }else{
                                <select class="select" name="VisitManualPurposeCodeID" asp-items='@(new SelectList(Model.CodeVisitManualPurpose, nameof(CommonCode.SubCodeID), nameof(CommonCode.CodeNameKor)))'></select>
                            }
                        }
                    </div>
                </li>
                <li class="full">
                    <div class="label s03">@Localizer["Detailed Purpose"]</div>
                    <div class="form-item-wrap">
                        <input type="text" class="inp" placeholder='@Localizer["Detailed Purpose"]' name="Purpose" />
                    </div>
                </li>
            </ul>
        </div>
    </div>
</form>
<div class="msg-wrap">
    <div class="label org">
        @* @Localizer["This is a required field"] &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; *@
        <span id="errormsg" class="label org red">@ViewBag.ErrorMsg</span>
    </div>
</div>
<div class="req-btn-wrap">
    @* 2023.09.21 신인아 버튼정리 start~end
    <div class="lt-item">
    </div>*@
    <div class="lt-item">
        <button type="button" class="btn-green" onclick="saveAddForm();">@Localizer["Register"]</button>
    </div>
</div>

@* for Prev Link *@
<a asp-action="ManualList" asp-all-route-data="@ViewBag.prevDic" id="aList" style="visibility:invisible;"></a>
